
RewriteOptions inherit

RewriteEngine on
DirectoryIndex index.html index.php
RewriteCond %{HTTP_HOST} ^.*$
RewriteCond %{REQUEST_URI} !^/[0-9]+\..+\.cpaneldcv$
RewriteCond %{REQUEST_URI} !^/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
RewriteRule ^blogs\/?(.*)$ "http\:\/\/nunitsoftware\.com\/blogs$1" [R=301,L]
