<div class="panel panel-success">
  <div class="panel-heading">2008</div>
  <div class="panel-body">
    Joel Meador<br />
    Scott Yost<br />
    Zaber Technologies Inc<br />
    Madan Reddy<br />
    Mohomed Riyal<br />
    Codice Software S.L.<br />
    Rene Poston<br />
    David J Harris<br />
    Laura Morgan<br />
    Mark Cassidy<br />
    Jeff Atwood<br />
    HighBrow Technologies<br />
    Kristopher L Culin<br />
    Eino Makitalo<br />
    Leon Carpay<br />
    Marcus Cuda<br />
    Fernando Antonio Camargo<br />
    Francois Korb<br />
    Prasad Narravula<br />
    AOE Media GmbH<br />
  </div>
</div>