<div class="panel panel-success">
  <div class="panel-heading">2011</div>
  <div class="panel-body">
    Abhay Jain<br />
    Lars Thorup<br />
    Fredrik Meyer<br />
    Dong Xu<br />
    Don Cashen<br />
    Meynardo Jose<br />
    Brett Burch<br />
    Ravindran Thangarathinam<br />
    Jason Jerome<br />
    William Blum<br />
    Steven Hosking<br />
  </div>
</div>