<div class="panel panel-success">
  <div class="panel-heading">2013</div>
  <div class="panel-body">
    Michael Brightwell<br />
    Paweł Zając<br />
    Wesley Harris<br />
    Karl Shifflett<br />
    Elli Davis, <a href="http://ellidavis.com">Toronto MLS Listings</a><br />
    Chantal Marr<br />
    Jamie Sarner, <a href="http://jamiesarner.com">Toronto Realtor</a><br />
    <a href="http://partnershiptoronto.com">Toronto Real Estate</a><br />
    Ezekiel Udoh<br />
    David Spyr<br />
    Mateusz Bednarski<br />
    Clarence Defiesta<br />
  </div>
</div>