<div class="panel panel-success">
  <div class="panel-heading">2012</div>
  <div class="panel-body">
    John Moore<br />
    Tadeusz Dracz<br />
    Christian Hidber<br />
    Tuomas Hietanen<br />
    Christian Selic<br />
    David Mora<br />
    Sandeep Rudrawar<br />
    Ouali Gram<br />
    Sergio Pereira<br />
    Ahmed Khan<br />
  </div>
</div>