<div class="panel panel-success">
  <div class="panel-body">
    <b>Poole Consulting</b> provides web hosting and domain registration.<br />
    <b>Microsoft</b> provides us with an MSDN subscription.<br />
    <b>JetBrains</b> provides their <b>Resharper</b> software.<br />
    <b>ICOP Technology</b> gave us an EB-2300 kit for testing NUnitLite on Windows CE.<br />
    <b>Jim Newkirk</b> donated the nunit.com domain name.<br />
    <b>Cedric Johnson</b> of <b>OpenDomain.org</b> donated the nunit.net domain name.<br />
    <b>ThoughtWorks</b> donated the nunit.org domain name.<br />
  </div>
</div>