@model nunit.org.Models.Document

<div class="row">
  <div class="col-md-9">
    @Html.Raw(Model.Content)
  </div>
  <div class="col-md-2 col-md-push-1">
    @Html.Raw(Model.MenuItems)
  </div>
</div>